body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f0f0f0; /* 背景色を軽く変更 */
}

#home {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    margin-bottom: 20px;
}

#home h1 {
    margin: 0;
    padding: 10px;
    color: #444;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    background-color: #fff;
}

.artwork {
    margin: 10px;
    flex-basis: calc(33.333% - 20px); /* 3つのイラストを1行に並べる */
    box-sizing: border-box;
}

.artwork img {
    width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    background-color: black; /* イラストの背景を黒に設定 */
}

#contact {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    margin-top: 20px;
}

footer {
    background-color: #f2f2f2;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

@media (max-width: 600px) {
    .artwork {
        flex-basis: calc(50% - 20px); /* 2つのイラストを1行に並べる */
    }
}